body{
	/*background: url("../../assets/images/Daro_Village_Ethiopia.JPEG");*/
    background: url("../../assets/images/111919734.JPEG");
    background-size: 100%;
    background-repeat: no-repeat;
    color: black;
   	box-sizing: border-box;
}
img { 
    height: 150px;
    width: 150px;
}


.btn {
    /* adding spacing between each button*/
    margin: 3px;
    background-color: #999999;
    border-color: #fff;
}

.gifDiv{
    /* making the images go in one line rather than block & adding spacing between the images*/
    float: left;
    margin: 3px;
    
}
.container {
	background-color: #fff;
	opacity: 0.8;
	padding: 20px;
}
 h1 {
    text-align: center;
  color:black;
}
